<ng-template #totalHeaderTemplate let-data="data">
  <div class="w-full text-right">{{data}}</div>
</ng-template>

<ng-template #proficiencyTemplate let-data="data">
  <div class="app-progress w-full">
    <div class="app-progress__bar app-bg-success" [ngClass]="{
            'app-bg-success':data>=70,
            'app-bg-warning':data>=50 && data < 70,
            'app-bg-danger':data<50
            }" [style.width]="data+'%'"></div>
  </div>
</ng-template>

<ng-template #totalTemplate let-data="data">
  <ng-container *ngIf="data>110">
    <ng-container *ngIf="data>500">
      <div class="text-right w-full font-bold app-color-success">{{data}}</div>
    </ng-container>
    <ng-container *ngIf="data<500">
      <div class="text-right w-full app-color-success">{{data}}</div>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="data<110">
    <div class="text-right w-full app-color-danger">{{data}}</div>
  </ng-container>

</ng-template>

<ng-template #onlineTemplate let-data="data">
  <div class="flex">
    <ng-container *ngIf="data === '1'">
      <div class="pr-3 pl-2 py-1 app-bg-success-o-30 app-color-success rounded-full flex items-center">
        <span class="w-2 h-2 app-bg-success rounded-full inline-block mr-1"></span>
        Online
      </div>
    </ng-container>
    <ng-container *ngIf="data === '0'">
      <div class="pr-3 pl-2 py-1 app-bg-warning-o-20 app-color-warning rounded-full flex items-center">
        Offline
      </div>
    </ng-container>
  </div>
</ng-template>

<div fxFlex="100%" fxFlex.gt-md="100%" fxFlex.gt-lg="100%">
  <div class="app-card app-card--bt-blue">
    <div class="app-card__header">
      <div class="app-row app-row--center">
        <div>
          <div class="app-expressive-heading-02">Titulos Similares<br /></div>
          <div class="app-label-01 mt-2">Escribe el titulo para un video y te mostraremos sugerencias para nuevos videos con tendencias virales.</div>
        </div>
      </div>
    </div>
    <ibm-search placeholder="Terminos separados por coma" (keydown.enter)="onSearch($event)" (valueChange)="valueChange($event)" (clear)="onClear($event)"></ibm-search>
    <ibm-table-container>
			<ibm-table
      [model]="model"
      [stickyHeader]="true"
      [skeleton]="skeleton"
      [size]='size'
      [enableSingleSelect]="true"
      [showSelectionColumn]="false"
      [striped]="false"
      [sortable]="true"
      [isDataGrid]="false">
    </ibm-table>
		</ibm-table-container>
  </div>
</div>
