<div fxFlex="100%" fxFlex.gt-md="100%" fxFlex.gt-lg="100%">
  <div class="app-card app-card--bt-blue">
    <div class="app-card__header">
      <div class="app-row app-row--center">
        <div>
          <div class="app-expressive-heading-02">Titulos Similares<br /></div>
          <div class="app-label-01 mt-2">Selecciona un video para ver los titulos similares</div>
        </div>
      </div>
    </div>
    <app-dummy-table-rich size="sh" class="app-ibm-h-full app-ibm-table-header-fix" [stickyHeader]="true">
    </app-dummy-table-rich>
  </div>
</div>
