<div class="app-layout" [ngClass.lt-md]="{'app-layout--show-header': true}">

  <!-- BEGIN: MAIN SIDENAV CONTAINER -->
  <youpez-sidenav-container>
    <!-- BEGIN: MAIN HEADER (XS VIEW) -->
    <app-main-header class="app-layout__header"></app-main-header>
    <!-- BEGIN: END HEADER (XS VIEW) -->

    <!-- BEGIN: MAIN MINI SIDEBAR (LEFT) -->
    <div class="app-layout__mini-sidebar">
      <div class="app-mini-sidebar">
        <app-layout-mini-sidebar>
        </app-layout-mini-sidebar>
      </div>
    </div>
    <!-- END: MAIN MINI SIDEBAR (LEFT) -->

    <!-- BEGIN: MAIN SIDEBAR -->
    <youpez-sidenav>
      <!-- [breakpoint]="mainSidebarOpts.breakpoint"
      [opened]="mainSidebarOpts.opened"
      [hoverAble]="mainSidebarOpts.hoverAble"
      [mode]="mainSidebarOpts.mode"
      [toggleableBtn]="mainSidebarOpts.toggleableBtn"
      [size]="mainSidebarOpts.size"
      (visibleChange)="onVisibilityChange($event)" -->
      <app-layout-sidebar>
        <!-- [menu]="menu"
        [opened]="mainSidebarOpts.opened"
        (sideBarToggle)="onSideBarToggle($event)" -->
      </app-layout-sidebar>
    </youpez-sidenav>
    <!-- END: MAIN SIDEBAR -->

    <!-- BEGIN: MAIN LAYOUT -->
    <div class="app-layout__content app-a-box app-scrollbar-fix" id="invoice" #invoice>
      <!-- HEADER BEGIN-->
      <div fxLayout="row wrap" class="app-header app-header--hero">
        <div class="app_header__tools">
          <!--button ibmButton="primary" size="sm" class="mr-1" (click)="downloadAsPDF();">
                      Nuevo Proyecto
                    </button-->
          <button ibmButton="tertiary" size="sm" fxHide fxShow.gt-sm (click)="generatePDF();">
            Exportar PDF
            <svg class="bx--btn__icon" ibmIconAdd size="20"></svg>
          </button>
        </div>
        <div fxFlex="100%" fxFlex.gt-sm="50%" class="relative z-10">
          <div class="app-subtitle text-muted">
            INICIO
          </div>
          <div>
            <span class="app-expressive-heading-06 mr-2">Metacube</span>
            <span class="app-expressive-heading-03">[AI]</span>
          </div>
        </div>
      </div>
      <!-- HEADDER END -->

      <ng-scrollbar>
        <youpez-sidenav-container>
          <!-- BEGIN: MAIN PAGE CONTENT -->
          <div class="app-layout__content__inner">

            <!-- FILTROS BG -->
            <!--div fxLayout="row wrap" class="mx-4">
              <div fxFlex="100%" fxFlex.gt-sm="50%" class="mt-4">
                <ibm-combo-box style="width:200px" [placeholder]="'Filter group...'" size="md" [appendInline]="false">
                  <ibm-dropdown-list [items]="comboboxItems" >
                  </ibm-dropdown-list>
                </ibm-combo-box>
              </div>
              <div fxFlex="100%" fxFlex.gt-sm="50%" class="mt-4">
                <div class="text-left lg:text-right">
                  <span class="app-label-01 mr-3">Date range</span>
                  <ibm-date-picker class="app-inline-block" size="md" range="true">
                  </ibm-date-picker>
                </div>
              </div>
            </div-->
            <!-- FILTROS END -->


            <!-- ESTADISTICAS BG -->
            <div fxLayout="row wrap" class="app-card-row-holder">
              <div fxFlex="100%" fxFlex.gt-lg="60%">
                <div fxFlex fxLayout="row wrap">
                  <div fxFlex="50%" fxFlex.gt-md="25%">
                    <div class="app-card">
                      <div class="app-card__header">
                        <div class="app-expressive-heading-03 mb-8">Reviews</div>
                        <div class="app-label-01">Current</div>
                        <div>
                          <span class="app-expressive-heading-06 mr-2">1,231</span>
                          <youpez-ibm-icon iconName="arrowUp" class="app-color-success"></youpez-ibm-icon>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div fxFlex="50%" fxFlex.gt-md="25%">
                    <div class="app-card">
                      <div class="app-card__header">
                        <div class="app-expressive-heading-03 mb-8">Reviews</div>
                        <div class="app-label-01">Current</div>
                        <div>
                          <span class="app-expressive-heading-06 mr-2">1,231</span>
                          <youpez-ibm-icon iconName="arrowUp" class="app-color-success"></youpez-ibm-icon>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div fxFlex="50%" fxFlex.gt-md="25%">
                    <div class="app-card">
                      <div class="app-card__header">
                        <div class="app-expressive-heading-03 mb-8">Reviews</div>
                        <div class="app-label-01">Current</div>
                        <div>
                          <span class="app-expressive-heading-06 mr-2">1,231</span>
                          <youpez-ibm-icon iconName="arrowUp" class="app-color-success"></youpez-ibm-icon>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- ESTADISTICAS END -->

            <!-- HERRAMIENTAS BG -->
            <div fxLayout="row wrap" class="mx-4">


              <div fxFlex="100%" fxFlex.gt-lg="40%">
                <div class="app-card" fxFlex>
                  <!--div class="app-card__tool">
                    <button ibmButton="tertiary" size="sm" class="bx--btn--icon-only">
                      <svg class="bx--btn__icon" ibmIconRenew size="32"></svg>
                    </button>
                    <button ibmButton="tertiary" size="sm" class="bx--btn--icon-only">
                      <svg class="bx--btn__icon" ibmIconOverflowMenuVertical size="32"></svg>
                    </button>
                  </div-->
                  <div class="app-card__header pb-0">
                    <div class="app-expressive-heading-03">Viral vs Cautivo</div>
                    <div class="app-label-01">comparacion con canales similares</div>
                  </div>
                  <div class="app-card__content">
                    <youpez-echarts-container>
                      <youpez-echarts class="app-echarts-component" style="height: 210px;"></youpez-echarts>
                      <!-- [options]="punchCardOpts" -->
                    </youpez-echarts-container>
                  </div>
                </div>
              </div>

              <div fxFlex="100%" fxFlex.gt-lg="50%">
                <div class="app-card" fxFlex>
                  <!--div class="app-card__tool">
                    <button ibmButton="tertiary" size="sm" class="bx--btn--icon-only">
                      <svg class="bx--btn__icon" ibmIconRenew size="32"></svg>
                    </button>
                    <button ibmButton="tertiary" size="sm" class="bx--btn--icon-only">
                      <svg class="bx--btn__icon" ibmIconOverflowMenuVertical size="32"></svg>
                    </button>
                  </div-->
                  <div class="app-card__header">
                    <div class="app-row app-row--center">
                      <div>
                        <div class="app-expressive-heading-03">Titulos similares</div>
                        <div class="app-label-01">Ordenados por numero de views</div>
                      </div>
                    </div>
                  </div>
                  <div style="height:270px;" class="relative">
                    <app-dummy-table-rich size="sh" stickyHeader="true"
                                          class="app-ibm-h-full app-ibm-table-header-fix"></app-dummy-table-rich>
                  </div>
                </div>
              </div>

              <div fxFlex="100%" fxFlex.gt-md="100%">
                <div fxLayout="row wrap" class="mb-6 app-card-row">
                  <ng-container *ngFor="let chart of charts">
                    <div fxFlex="100%" fxFlex.gt-md="33.33%" class="">
                      <div class="app-card p-2">
                        <youpez-echarts-container>
                          <youpez-echarts [options]="chart" class="app-echarts-component" style="height: 400px;">
                          </youpez-echarts>
                        </youpez-echarts-container>
                      </div>
                    </div>
                  </ng-container>
                </div>
              </div>

            </div>
            <!-- HERRAMIENTAS END -->


            <!--div class="app-lock-screen__overlay app-bg-container app-bg-dotted"></div-->
          </div>
          <!-- END: MAIN PAGE CONTENT -->
        </youpez-sidenav-container>
      </ng-scrollbar>
    </div>
    <!-- END: MAIN LAYOUT -->
  </youpez-sidenav-container>

  <!-- END: MAIN SIDENAV CONTAINER -->
</div>