<div class="app-card app-card--bt-blue">
  <div class="app-card__header">
    <div class="app-row app-row--center">
      <div>
        <div class="app-expressive-heading-02">Comentarios de video <br /></div>
      </div>
    </div>
  </div>
  <div class="app-list app-list--hover app-list--select">
    <ng-container *ngFor="let comentario of comentarios">
      <div class="app-list__item">

        <div class="app-list__item__content">
          <div class="app-expresive-heading-o3 mr-1">{{comentario.authorDisplayName}}</div>
          {{comentario.textOriginal}}
        </div>

        <!--div class="app-expressive-heading-02 mr-1">{{video.commentCount}}</div>
        <div class="app-expressive-heading-02 mr-1">{{video.likeCount}}</div>
        <div class="app-expressive-heading-02 mr-1">{{video.viewCount}}</div>
        <button ibmButton="ghost" size="sm" class="bx--btn--icon-only">
          <svg class="bx--btn__icon" ibmIconArrowRight size="32"></svg>
        </button>-->
      </div>
    </ng-container>
  </div>
</div>
