<app-header></app-header>
<main class="main">
  <!-- <ibm-sidenav [rail]="true" [expanded]="false">
    <ibm-sidenav-item>
      <svg ibmIcon="fade" size="16"></svg>
      Link
    </ibm-sidenav-item>
    <ibm-sidenav-item>
      <svg ibmIcon="fade" size="16"></svg>
      Link
    </ibm-sidenav-item>
    <ibm-sidenav-menu title="Category title">
      <svg ibmIcon="fade" size="16"></svg>
      <ibm-sidenav-item>Link</ibm-sidenav-item>
      <ibm-sidenav-item>Link</ibm-sidenav-item>
      <ibm-sidenav-item>Link</ibm-sidenav-item>
    </ibm-sidenav-menu>
  </ibm-sidenav> -->
	<app-dashboard></app-dashboard>
  <ng-container *ngIf="searchVisible$ | async">
    <youpez-search></youpez-search>
  </ng-container>
</main>

<!--
<div class="app-layout" [ngClass.lt-md]="{'app-layout--show-header': true}">
  <youpez-sidenav-container>
    <metatube-header-mini class="app-layout__header"></metatube-header-mini>

    <div class="app-layout__mini-sidebar">
      <div class="app-mini-sidebar">
        <app-layout-mini-sidebar></app-layout-mini-sidebar>
      </div>
    </div>

    <div class="app-layout__content app-a-box app-scrollbar-fix">
      <div class="app-layout__content__inner">
        <app-dashboard ></app-dashboard>
      </div>
    </div>

  </youpez-sidenav-container>

</div>
-->
