<div class="app-card" fxFlex>
  <!--div class="app-card__tool">
            <button ibmButton="tertiary" size="sm" class="bx--btn--icon-only">
              <svg class="bx--btn__icon" ibmIconRenew size="32"></svg>
            </button>
            <button ibmButton="tertiary" size="sm" class="bx--btn--icon-only">
              <svg class="bx--btn__icon" ibmIconOverflowMenuVertical size="32"></svg>
            </button>
          </div-->
  <div class="app-card__header pb-0">
    <div class="app-expressive-heading-03">Viral vs Cautivo</div>
    <div class="app-label-01">comparacion con canales similares</div>
  </div>
  <div class="app-card__content">
    <youpez-echarts-container>
      <youpez-echarts class="app-echarts-component" style="height: 210px;"></youpez-echarts>
      <!-- [options]="punchCardOpts" -->
    </youpez-echarts-container>
  </div>
</div>
