<div class="app-card">
    <div class="app-card__tool">
        <button ibmButton="tertiary" size="sm" class="bx--btn--icon-only" (click)="refreshQuestions()">
            <svg class="bx--btn__icon" ibmIconRenew size="32"></svg>
        </button>
        <!-- <button ibmButton="tertiary" size="sm" class="bx--btn--icon-only">
            <svg class="bx--btn__icon" ibmIconOverflowMenuVertical size="32"></svg>
        </button> -->
    </div>
    <div class="app-card__header">
        <div class="app-expressive-heading-03 mb-8">Preguntas</div>
        <div class="app-label-01"></div>
    </div>
    <div class="app-card__content">
        <div *ngFor="let q of questions | async">
            {{q.question}}
        </div>
    </div>
</div>