<div class="app-a-box" id="invoice" #invoice>
  <ng-scrollbar>
    <div ibmGrid class="bx--grid--full-width landing-page">
      <div ibmRow class="landing-page__banner">
        <div ibmCol [columnNumbers]="{'lg': 16}" class="flex">
          <h1 class="landing-page__heading">
            {{(canal$ | async).title}}
          </h1>
        </div>
      </div>
      <div ibmRow class="landing-page__r2">
        <div ibmCol class="bx--no-gutter">
          <ibm-tabs ariaLabel="Tab navigation">
            <ibm-tab heading="Descripcion">
              <div ibmGrid class="bx--grid--no-gutter bx--grid--full-width">
                <div ibmRow class="landing-page__tab-content">
                  <div ibmCol [columnNumbers]="{'md': 8, 'lg': 8}">
                    <h2 class="landing-page__subheading">
                      Descripción
                    </h2>
                    <p class="landing-page__p">
                      {{(canal$ | async).description}}
                    </p>
                    <a href="https://www.youtube.com/channel/{{(canal$ | async).id}}"><button ibmButton="primary">Abrir
                        Canal</button></a>
                  </div>
                  <div ibmCol [columnNumbers]="{'md': 8, 'lg': 8}">
                    <ibm-wordcloud-chart [data]="data" [options]="options"></ibm-wordcloud-chart>
                  </div>
                </div>
              </div>
            </ibm-tab>
            <ibm-tab heading="Estadisticas">
              <div ibmGrid class="bx--grid--no-gutter bx--grid--full-width">
                <div ibmRow class="landing-page__tab-content">
                  <div ibmCol [columnNumbers]="{'md' : 8, 'lg': 8}">
                    <app-tarjeta-estadistica></app-tarjeta-estadistica>
                  </div>
                  <div ibmCol [columnNumbers]="{'md':8, 'lg': 8}">
                    <app-mejor-dia-semana></app-mejor-dia-semana>
                  </div>
                </div>
              </div>
            </ibm-tab>
            <ibm-tab heading="Videos">
              <div ibmGrid class="bx--grid--no-gutter bx--grid--full-width">
                <div ibmRow class="landing-page__tab-content">
                  <div ibmCol [columnNumbers]="{'lg': 16}">
                    <app-top-videos></app-top-videos>
                  </div>
                </div>
              </div>
            </ibm-tab>
            <ibm-tab heading="Herramientas">
              <div ibmGrid class="bx--grid--no-gutter bx--grid--full-width">
                <div ibmRow class="landing-page__tab-content">
                  <div ibmCol [columnNumbers]="{'md' : 16, 'lg': 8}" >
                    <app-titulos-similares></app-titulos-similares>
                  </div>
                  <div ibmCol [columnNumbers]="{'md' : 16, 'lg': 8}" >
                    <app-topics-similares></app-topics-similares>
                  </div>
                </div>
              </div>
            </ibm-tab>
            <ibm-tab heading="Exploracion">
              <div ibmGrid class="bx--grid--no-gutter bx--grid--full-width">
                <div ibmRow class="landing-page__tab-content">
                  <div ibmCol [columnNumbers]="{'lg': 16}">
                      <app-grafo-dirigido></app-grafo-dirigido>
                  </div>
                </div>
              </div>
            </ibm-tab>
          </ibm-tabs>
        </div>
      </div>
    </div>
  </ng-scrollbar>
</div>
