<div class="app-a-box app-scrollbar-fix" id="invoice" #invoice>
  <ng-scrollbar>
    <!--app-header [subtitulo]="(proyecto | async).nombre" [url]="(proyecto | async).url_canal"></app-header-->
    <app-header></app-header>

    <app-contenedor-tarjetas>
      <app-tarjeta-estadistica></app-tarjeta-estadistica>
      <app-mejor-dia-semana></app-mejor-dia-semana>
      <app-top-videos></app-top-videos>
      <app-titulos-similares></app-titulos-similares>
      <app-grafo-dirigido></app-grafo-dirigido>
      <app-counter></app-counter>
    </app-contenedor-tarjetas>


    <!-- <div class="app-bg-container app-bg-dotted"></div> -->
  </ng-scrollbar>
</div>
