<div class="app-a-box app-scrollbar-fix" id="invoice" #invoice>
  <ng-scrollbar>
    <!--app-header [subtitulo]="(proyecto | async).nombre" [url]="(proyecto | async).url_canal"></app-header-->
    <app-header></app-header>

    <app-contenedor-tarjetas>
      <app-tarjeta-estadistica titulo="Vistas" subtitulo="Actual" numero="1"></app-tarjeta-estadistica>
      <app-tarjeta-estadistica titulo="Videos" subtitulo="Actual" numero="2"></app-tarjeta-estadistica>
      <app-tarjeta-estadistica titulo="Comentarios" subtitulo="Actual" numero="3"></app-tarjeta-estadistica>
      <app-tarjeta-estadistica titulo="Subscriptores" subtitulo="Actual" numero="4"></app-tarjeta-estadistica>
      <app-counter></app-counter>
      <app-tarjeta>
        <app-dummy-table-rich size="sh" class="app-ibm-h-full app-ibm-table-header-fix">
          <!-- TODO: Quien sabe que onda con esta variable stickyHeader=True -->
        </app-dummy-table-rich>
      </app-tarjeta>
    </app-contenedor-tarjetas>


    <!-- <div class="app-bg-container app-bg-dotted"></div> -->
  </ng-scrollbar>
</div>
