<div>
  <div fxFlex="100%">
    <div class="app-card" fxFlex>
      <div class="app-card__tool">
        <button ibmButton="tertiary" size="sm" class="bx--btn--icon-only">
          <svg class="bx--btn__icon" ibmIconRenew size="32"></svg>
        </button>
        <button ibmButton="tertiary" size="sm" class="bx--btn--icon-only">
          <svg class="bx--btn__icon" ibmIconOverflowMenuVertical size="32"></svg>
        </button>
      </div>
      <div class="app-card__header pb-0">
        <div class="app-expressive-heading-03">Relacion Competidores</div>
        <div class="app-label-01"></div>
      </div>
      <div class="app-card__content">
        <figure id="bar"></figure>
        <!-- <svg #svg [attr.width]="_options.width" [attr.height]="_options.height">
          <g [zoomableOf]="svg">
            <g [linkVisual]="link" *ngFor="let link of links"></g>
            <g [nodeVisual]="node" *ngFor="let node of nodes" [draggableNode]="node" [draggableInGraph]="graph"></g>
          </g>
        </svg> -->
      </div>
    </div>
  </div>
</div>
