<!-- HEADER BEGIN-->
<div fxLayout="row wrap" class="app-header app-header--hero">
  <div class="app_header__tools">
    <!--button ibmButton="primary" size="sm" class="mr-1" (click)="downloadAsPDF();">
                Nuevo Proyecto
              </button-->
    <!--button ibmButton="tertiary" size="sm" fxHide fxShow.gt-sm (click)="generatePDF();">
      Exportar PDF
      <svg class="bx--btn__icon" ibmIconAdd size="20"></svg>
    </button-->
  </div>
  <div fxFlex="100%" fxFlex.gt-sm="50%" class="relative z-10">
    <div class="app-subtitle text-muted">
      INICIO
    </div>
    <div>
      <span class="app-expressive-heading-06 mr-2">Metacube</span>
      <span class="app-expressive-heading-03">[AI]</span>
      <br>
      <span class="app-expressive-heading-03">- Proyecto 1 </span>

    </div>
  </div>
</div>
<!-- HEADDER END -->
